Node-Red with Telegram/fhf
[{"id":"ffd15fbc.352a3","type":"telegram receiver","z":"cd462154.6d73e8","name":"","bot":"b6d96816.1c46b8","saveDataDir":"","x":190,"y":120,"wires":[["8a4d153d.2d9058"],[]]},{"id":"8a4d153d.2d9058","type":"function","z":"cd462154.6d73e8","name":"msgRecived","func":"msg.payload.content =  \"dijiste: \"+ msg.payload.content\n\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["d2cc832c.3e8e2"]]},{"id":"d2cc832c.3e8e2","type":"telegram sender","z":"cd462154.6d73e8","name":"","bot":"b6d96816.1c46b8","x":670,"y":160,"wires":[[]]},{"id":"b6d96816.1c46b8","type":"telegram bot","z":"","botname":"@Meli09bot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"}]