Node-Red with Telegram/OnRelay
[{"id":"3cd06a78.5661f6","type":"telegram receiver","z":"cd462154.6d73e8","name":"","bot":"b6d96816.1c46b8","saveDataDir":"","x":90,"y":60,"wires":[["dc1a0e06.dd22a"],["dc1a0e06.dd22a"]]},{"id":"dc1a0e06.dd22a","type":"function","z":"cd462154.6d73e8","name":"OnRelay","func":"\nif (msg.payload.content = \"/onRelay\"){\n    \n     msg.payload.content = \"El relevador se ha encendido\"\n \n    msg.payload = \"1\"\n    \n    \n}\n\n /*else if(msg.payload.content = \"/offRelay\"){\n    \n    msg.payload = \"0\"\n     msg.payload.content = \"El relevador \"\n    \n    \n}*/\n\n   \nreturn msg;","outputs":1,"noerr":0,"x":140,"y":160,"wires":[["ecbbfdaf.9a3db","3db2e5ab.139faa"]]},{"id":"ecbbfdaf.9a3db","type":"telegram sender","z":"cd462154.6d73e8","name":"","bot":"b6d96816.1c46b8","x":290,"y":300,"wires":[["3db2e5ab.139faa"]]},{"id":"3db2e5ab.139faa","type":"UPM-Grove-Relay","z":"cd462154.6d73e8","name":"","platform":"0","pin":"4","interval":1000,"x":450,"y":120,"wires":[]},{"id":"b6d96816.1c46b8","type":"telegram bot","z":"","botname":"@Meli09bot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"}]