Node-Red with Telegram/OnRelay
[{"id":"ffd15fbc.352a3","type":"telegram receiver","z":"cd462154.6d73e8","name":"","bot":"b6d96816.1c46b8","saveDataDir":"","x":190,"y":120,"wires":[["8a4d153d.2d9058"],[]]},{"id":"8a4d153d.2d9058","type":"function","z":"cd462154.6d73e8","name":"msgRecived","func":"msg.payload.content =   msg.payload.content\n\nif(msg.payload.content == \"/onrelay\"){\n    \n    msg.payload = 1\n}\n\nelse if(msg.payload.content == \"/offRelay\"){\n    msg.payload = 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["d2cc832c.3e8e2","2a1689de.b357f6"]]},{"id":"d2cc832c.3e8e2","type":"telegram sender","z":"cd462154.6d73e8","name":"","bot":"b6d96816.1c46b8","x":670,"y":160,"wires":[[]]},{"id":"2a1689de.b357f6","type":"UPM-Grove-Relay","z":"cd462154.6d73e8","name":"","platform":"0","pin":"4","interval":1000,"x":700,"y":360,"wires":[]},{"id":"b6d96816.1c46b8","type":"telegram bot","z":"","botname":"@Meli09bot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"}]