Node-Red with Telegram/TalkwithTelegram.txt
[{"id":"512b76d9.c77db8","type":"telegram receiver","z":"91f83dea.af771","name":"","bot":"b6d96816.1c46b8","saveDataDir":"","x":390,"y":240,"wires":[["e10ee00c.14e35"],[]]},{"id":"e10ee00c.14e35","type":"function","z":"91f83dea.af771","name":"msgVoz","func":"msg.payload.content =   msg.payload.content\n\nif(msg.payload.content == \"/voz\"){\n    \n    msg.payload = \"Hola y bienvenidos yo soy un bot creado en el laboratorio\"\n    +\"Es un gusto que esten aquí, los amo\"\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":240,"wires":[["fab0859c.fb6f68"]]},{"id":"fab0859c.fb6f68","type":"ui_audio","z":"91f83dea.af771","name":"","group":"4f3ea490.01063c","voice":"es-ES","always":true,"x":940,"y":220,"wires":[]},{"id":"b6d96816.1c46b8","type":"telegram bot","z":"","botname":"@Meli09bot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"4f3ea490.01063c","type":"ui_group","z":"","name":"Default","tab":"9ae6db89.53d708","disp":true,"width":"6","collapse":false},{"id":"9ae6db89.53d708","type":"ui_tab","z":"","name":"Presentación de Node-Red","icon":"","order":"05"}]