Node-Red with Telegram/TalkwithTelegram
[{"id":"3bf5eec3.e6b6b2","type":"telegram receiver","z":"91f83dea.af771","name":"","bot":"b6d96816.1c46b8","saveDataDir":"","x":300,"y":320,"wires":[["63cda33e.a9579c"],[]]},{"id":"63cda33e.a9579c","type":"function","z":"91f83dea.af771","name":"msgVoz","func":"msg.payload.content =   msg.payload.content\n\nif(msg.payload.content == \"/voz\"){\n    \n    msg.payload = \"Hola y bienvenidos yo soy un bot creado en el laboratorio ILNET\"\n    +\"Es un gusto que esten aquí\"\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":240,"wires":[["be3777c4.0d02c8"]]},{"id":"be3777c4.0d02c8","type":"ui_audio","z":"91f83dea.af771","name":"","group":"671cb728.951bb8","voice":"es-ES","always":true,"x":760,"y":200,"wires":[]},{"id":"b6d96816.1c46b8","type":"telegram bot","z":"","botname":"@Meli09bot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"671cb728.951bb8","type":"ui_group","z":"","name":"Default","tab":"9ae6db89.53d708","disp":false,"width":"13","collapse":false},{"id":"9ae6db89.53d708","type":"ui_tab","z":"","name":"Presentación de Node-Red","icon":"","order":"05"}]